workflows/exercise_4_llm_debugging.json
{
  "name": "Exercise 4 - Use an LLM to Debug This Workflow",
  "nodes": [
    {
      "id": "922cbf37-d1ec-47dd-8da5-00a793acb865",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [464, 240],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "040cbede-4df2-4fed-98c2-b94e21a46e1b",
      "name": "Fetch Quote",
      "type": "n8n-nodes-base.httpRequest",
      "position": [704, 240],
      "parameters": {
        "url": "https://zenquotes.io/api/quotes",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "d5a71108-ff33-4214-9662-510d9d30adfc",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "position": [944, 240],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "fa43a283-e401-46e3-bf3c-9cc7fb7dae2f",
              "name": "quote",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "c16964d2-b6a6-40d4-a4d2-bef0760d0d26",
              "name": "author",
              "type": "string",
              "value": "={{ $json.author }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "f3a0621c-f38b-44e2-a050-a41b69a6013a",
      "name": "Fetch Joke",
      "type": "n8n-nodes-base.httpRequest",
      "position": [704, 480],
      "parameters": {
        "url": "https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw,religious,political,racist,sexist,explicit&type=single",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "aaa11111-1111-1111-1111-111111111111",
      "name": "Extract Joke",
      "type": "n8n-nodes-base.set",
      "position": [944, 480],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "11111111-1111-1111-1111-111111111111",
              "name": "joke",
              "type": "string",
              "value": "={{ $json.joke }}"
            },
            {
              "id": "22222222-2222-2222-2222-222222222222",
              "name": "jokeCategory",
              "type": "string",
              "value": "={{ $json.category }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "bbb22222-2222-2222-2222-222222222222",
      "name": "Combine Results",
      "type": "n8n-nodes-base.merge",
      "position": [1184, 360],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combinationMode": "mergeByPosition"
      },
      "typeVersion": 2.1
    },
    {
      "id": "ccc33333-3333-3333-3333-333333333333",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "position": [1424, 360],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "33333333-3333-3333-3333-333333333333",
              "name": "dailyMessage",
              "type": "string",
              "value": "=Good morning! Here's your daily dose:\n\nQuote: \"{{ $json.quote }}\" — {{ $json.author }}\n\nJoke: {{ $json.joke }}"
            },
            {
              "id": "44444444-4444-4444-4444-444444444444",
              "name": "generatedAt",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Quote",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Joke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Quote": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Joke": {
      "main": [
        [
          {
            "node": "Extract Joke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Joke": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
